* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #C96868;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.login-section {
    padding: 20px;
    background-color: #f9f9f9;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    background-color: #FFF4EA;
    color: rgb(14, 13, 13);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #FADFA1;
}

.footer {
    padding: 10px;
    background-color: #C96868;
    color: white;
    text-align: center;
}